<header id="slider-area">  
        <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
          <div class="container">      
            <img class="img-fluid w-25" src="/img/geu-logo.svg" alt="" srcset="">    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="lni-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#services">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#toprecruiters">Top Recruiters</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#features">Features</a>
                </li>               
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#testimonial">Top Courses</a>
                </li>             
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#team">Experts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#blog">Blogs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link page-scroll" href="#contact">Contact Us</a>
                </li>    
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">Get Started</a>
                </li> 
                <!-- <li class="nav-item">
                  <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>  -->
              </ul>              
            </div>
          </div>
        </nav> 
        <!-- Main Carousel Section -->
         
    
    </header>