<%- include('includes/user-navigation.ejs') %>
  
  <section id="coursesservices" class="section mt-5">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Online Distance Learning @ Graphic Era <i class="fas fa-graduation-cap"></i></h2>
        <p class="section-subtitle">Bachelor of Computer Applications | Bachelor of Business Administration | Bachelor of Commerce</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.2s">
            <div class="icon color-1">
              <i class="fas fa-laptop-code"></i>
            </div>
            <h4>
                <a class="text-dark" href="#!">
                    Bachelor of Computer Applications
                </a>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
            <div class="icon color-2">
              <i class="fas fa-user-tie"></i>
            </div>
            <h4 >
                <a class="text-dark" href="#!">
                    Bachelor of Business Administration
                </a>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon color-3">
              <i class="lni-stats-up"></i>
            </div>
            <h4>
                <a class="text-dark" href="#!">
                    Bachelor of Commerce
                </a>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.</p>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <!-- Services Section End -->

  <!-- View All Courses -->
  <section id="allcourses">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">All Courses <i class="fas fa-book-reader"></i></h2>
        <p class="section-subtitle">Bachelor of Computer Applications | Bachelor of Business Administration | Bachelor of Commerce</p>
      </div>
      <div class="row">
        <div class="owl-item" style="width: 380px;"><div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <div class="author-info">
                    <h2><a href="#">PG Diploma Data Science Full Time</a></h2>
                    <span>
                        <i class="fas text-success fa-rupee-sign"></i> 580,000
                    </span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-outline btn-primary">View Course</a>
                </div>
              </div>
            </div>
        </div>

        <div class="owl-item" style="width: 380px;"><div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <div class="author-info">
                    <h2><a href="#">PG Diploma Data Science Full Time</a></h2>
                    <span>
                        <i class="fas text-success fa-rupee-sign"></i> 580,000
                    </span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-outline btn-primary">View Course</a>
                </div>
              </div>
            </div>
        </div>


        <div class="owl-item" style="width: 380px;"><div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                    <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <div class="author-info">
                    <h2><a href="#">PG Diploma Data Science Full Time</a></h2>
                    <span>
                        <i class="fas text-success fa-rupee-sign"></i> 580,000
                    </span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-outline btn-primary">View Course</a>
                </div>
              </div>
            </div>
        </div>
        
       
      </div>
    </div>
  </section>
  <!-- View All Courses -->



  <!-- Call to Action Start -->
  <section class="call-action section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="cta-trial text-center">
            <h3>Explore All Courses</h3>
            <p>The primary objective of Graphic Era Directorate of Distance and Online Education is to provide students with transformative educational experiences, through online learning.</p>
            <a href="/courses" class="btn btn-common btn-effect">View All!</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to Action End -->

  <!-- Features Section Start -->
  <section id="features" class="section">
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Get Placed In Industry Leaders</h2>
        <p class="section-subtitle">Some of our Top Recruiters</p>
      </div>
      <div class="row">
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/adobe.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/amazon.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/TATA.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/IBM.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/wipro.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/hsbc.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/ZeeNews.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/YAMAHA.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/Reliance-insurance.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/honda.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/accenture.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
        <!-- Start featured -->
        <div class="col-lg-3 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-content">
              <img class="img-fluid" src="https://www.geu.ac.in/content/dam/geu/top-recruiter/Sapient.jpg" alt="" srcset="">
            </div>
          </div>
        </div>
        <!-- End featured -->
      </div>
    </div>
  </section>
  <!-- Features Section End -->    

  <!-- Start Video promo Section -->
  <section class="video-promo section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="video-promo-content text-center">
              <a href="https://www.youtube.com/watch?v=cWCi_1TXZAU" class="video-popup"><i class="lni-film-play"></i></a>
              <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Our Introductory Video</h2>
              <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Learn more about us, its only 30mins</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Video Promo Section -->


  <!-- Counter Section Start -->
  <!-- <div class="counters section bg-defult">
    <div class="container">
      <div class="row"> 
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item"> 
            <div class="icon">
              <i class="lni-rocket"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">100</span>%</h3>
              <h4>Faster</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item">
            <div class="icon">
              <i class="lni-coffee-cup"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">700</span></h3>
              <h4>Cup of Coffee</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item">
            <div class="icon">
              <i class="lni-user"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">10000</span>+</h3>
              <h4>Active Clients</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item">
            <div class="icon">
              <i class="lni-heart"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">1689</span></h3>
              <h4>Peoples Love</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Counter Section End -->

  <!-- Testimonial Section Start -->
  <section class="testimonial section">
    <div class="container">
      <h3 class="text-center">Top Rated Courses</h3>
      <p class="text-center">
          <i class="fas h5 text-warning fa-star"></i>
          <i class="fas h3 text-warning fa-star"></i>
          <i class="fas h2 text-warning fa-star"></i>
          <i class="fas h3 text-warning fa-star"></i>
          <i class="fas h5 text-warning fa-star"></i>
      </p>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="testimonials" class="touch-slider owl-carousel">
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                  <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <div class="author-info">
                    <h2><a href="#">PG Certified Cloud Computing</a></h2>
                    <span><i class="fas text-success fa-rupee-sign"></i> 580,000</span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-sm btn-primary">View Course</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                  <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <div class="author-info">
                    <h2><a href="#">PG Certified Ethical Hacker</a></h2>
                    <span><i class="fas text-success fa-rupee-sign"></i> 580,000</span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-sm btn-primary">View Course</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                  <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <br><br>
                  <div class="author-info">
                    <h2><a href="#">PG Certified Big Data</a></h2>
                    <span><i class="fas text-success fa-rupee-sign"></i> 580,000</span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-sm btn-primary">View Course</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                  <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <br><br>
                  <div class="author-info">
                    <h2><a href="#">PG Certified UI/UX</a></h2>
                    <span><i class="fas text-success fa-rupee-sign"></i> 580,000</span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-sm btn-primary">View Course</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="author">
                  <div class="img-thumb">
                  <img class="w-25" src="/img/geu-sm-logo.jpg" alt="">
                  </div>
                  <div class="author-info">
                    <h2><a href="#">PG Certified Mobile Technology</a></h2>
                    <span><i class="fas text-success fa-rupee-sign"></i> 580,000</span>
                  </div>
                </div>
                <div class="content-inner">
                  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                  <a href="/courses" class="btn btn-sm btn-primary">View Course</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Testimonial Section End --> 

  <!-- Call To Action Section Start -->
  <section id="cta" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">            
          <div class="cta-text">
            <h5>Stil confused? Download a free lite version to get started!</h5>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 text-right">
          <a href="#" class="btn btn-border">Download</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Call To Action Section Start -->


  <!-- Subcribe Section Start -->
  <div id="subscribe" class="section">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 col-md-12 col-xs-12">
          <div class="subscribe-form">
            <div class="form-wrapper">
              <div class="sub-title text-center">
                <h3>Subscribe to GEU Newsletter</h3>
                <p>Weekly Freebies and More!</p>
              </div>
              <form>
                <div class="row">
                  <div class="col-12 form-line">
                    <div class="form-group">
                      <input type="text" class="form-control" name="email" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-12 form-line">
                    <div class="form-group">
                      <input type="text" class="form-control" name="phone" placeholder="Phone">
                    </div>
                  </div>
                  <div class="col-12 form-line">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Email">
                    </div> 
                  </div>
                  <div class="col-12">
                    <div class="form-submit">
                      <button type="submit" class="btn btn-common btn-effect">Subscribe Now</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="sub-item-box">
            <div class="icon-box">
              <i class="lni-bullhorn"></i>
            </div>
            <div class="text-box">
              <h4>Weekly Free Learning Materials</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laborum libero beatae obcaecati.</p>
            </div>
          </div>
          <div class="sub-item-box">
            <div class="icon-box">
              <i class="lni-book"></i>
            </div>
            <div class="text-box">
              <h4>Free PDF to Get Started</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laborum libero beatae obcaecati.</p>
            </div>
          </div>
          <div class="sub-item-box">
            <div class="icon-box">
              <i class="lni-timer"></i>
            </div>
            <div class="text-box">
              <h4>Instant Learning Material</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, laborum libero beatae obcaecati.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Subcribe Section End -->

  <!-- Blog Section -->
  <section id="blog" class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="section-header">          
        <h2 class="section-title">Blogs</h2>
        <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="/img/blog/img1.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
              <h3><a href="single-post.html">10 Tips to Design a High-converting Landing Page</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                <span><a href="#"><i class="lni-reply"></i> 332</a></span>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="/img/blog/img2.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
              <h3><a href="single-post.html">How to Design a Website For Your App</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                <span><a href="#"><i class="lni-reply"></i> 332</a></span>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="/img/blog/img3.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
              <h3><a href="single-post.html">7 Secretes to Optimize Loading Speed of Your Site</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                <span><a href="#"><i class="lni-reply"></i> 332</a></span>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
      </div>
    </div>
  </section>
  <!-- blog Section End -->



  <!-- Contact Section Start -->
  <section id="contact" class="section">      
    <div class="contact-form">
      <div class="container">
        <div class="section-header">          
          <h2 class="section-title">Get In Touch</h2>
          <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis.</p>
        </div>
        <div class="row">          
          <div class="col-lg-9 col-md-9 col-xs-12">
            <div class="contact-block">
              <form id="contactForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>                                 
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                      <div class="help-block with-errors"></div>
                    </div> 
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> 
                      <textarea class="form-control" id="message" placeholder="Your Message" rows="7" data-error="Write your message" required></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button">
                      <button class="btn btn-common btn-effect" id="submit" type="submit">Send Message</button>
                      <div id="msgSubmit" class="h3 hidden"></div> 
                      <div class="clearfix"></div> 
                    </div>
                  </div>
                </div>            
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="contact-deatils">
              <!-- Content Info -->
              <div class="contact-info_area">
                <div class="contact-info">
                  <i class="lni-map"></i>
                  <h5>Location</h5>
                  <p>1900 Pico Blvd, New York br Centernial, colorado</p>
                </div>
                <!-- Content Info -->
                <div class="contact-info">
                  <i class="lni-star"></i>
                  <h5>E-mail</h5>
                  <p>info@example.com</p>
                </div>
                <!-- Content Info -->
                <div class="contact-info">
                  <i class="lni-phone"></i>
                  <h5>Phone</h5>
                  <p>+48 123 456 789</p>
                </div>
                <!-- Icon -->
                <ul class="footer-social">
                  <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="lni-linkedin-fill"></i></a></li>
                  <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>            
  </section>
  <!-- Contact Section End -->
  
  <!-- Footer Section Start -->
  <%- include('includes/footer') %>
  <!-- Footer Section End --> 

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-arrow-up"></i>
  </a>

  <div id="loader">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>