<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Graphic Era Deemed to be University</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/line-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/color-switcher.css">
    <link rel="stylesheet" type="text/css" href="/css/menu_sideslide.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">    
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/jquery-min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/color-switcher.js"></script>
    <script src="/js/jquery.mixitup.js"></script>
    <script src="/js/nivo-lightbox.js"></script>
    <script src="/js/owl.carousel.js"></script>    
    <script src="/js/jquery.stellar.min.js"></script>    
    <script src="/js/jquery.nav.js"></script>    
    <script src="/js/scrolling-nav.js"></script>    
    <script src="/js/jquery.easing.min.js"></script>     
    <script src="/js/wow.js"></script> 
    <script src="/js/jquery.vide.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>    
    <script src="/js/jquery.magnific-popup.min.js"></script>    
    <script src="/js/waypoints.min.js"></script>    
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>   
    <script src="/js/main.js"></script>
</body>
</html>